/* PC */
@media(min-width: 1024px) {

}

/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media(max-width: 740px) {

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }


    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav > li > a {
        display: block;
        color: #fff;
        padding: 0 41px;
    }

    .s-col-full {
        width: 100%;
    }

    #content .member-avatar {
        width: 60%;
    }
  

    

    

    

    
}