/* PC */
@media(min-width: 1024px) {

}

/* Tablet & Mobile */

@media(max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav > li > a {
        padding: 5px 12px;
    }

    .contact-content .form-control {
        padding: 14px;
    }

    .contact-info i[class*="ti-"] {
        line-height: 2;
    }

    #footer .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media(max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    .s-mt-16 {
        margin-top: 16px;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }


    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav > li > a {
        display: block;
        color: #fff;
        padding: 0 41px;
    }

    #content .member-avatar {
        width: 60%;
    }

    .contact-content .contact-form {
        margin-top: 32px;
    }
        
  

    

    

    

    
}