/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

#main {

}

#header {
    height: 46.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1;
}

#header .search-btn {
    float: right;
    
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .header-search-icon {
    color: #fff;
    line-height: 46.5px;
    padding: 0 23px;
}

#nav {
    display: inline-block;
}

#nav > li  {
    display: inline-block;
    position: relative;
}

#nav > li:hover .subnav  {
    display: block;
}

#nav > li > a {
    line-height: 46.5px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0 24px;
    text-transform: uppercase;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
}

#nav .subnav li {
    line-height: 38.5px;
    list-style-type: none;
}

#nav .subnav > li > a {
    min-width: 160px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 0 16px;
   
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    margin-top: 10px;
}

#content .content-heading {
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
    margin-top: 20px;
}

#content .content-sub-heading {
    text-align: center;
    opacity: 0.6;
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;

}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 25px;
    margin-bottom: 15px;

}

#content .list-member {
    text-align: center;
    padding: 32px 0;
}

#content .list-item {
    float: left;
    width: 33.33333%;

}

#content .member-name {
    margin-top: 15px;
    font-size: 15px;
}

#content .member-avatar {

    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}

#content .clear {
    clear: both;
}

/* Tour Css */

.ticket-section {
    background-color: #000;
}

.list-ticket {
    background-color: #fff;
    margin-top: 30px;
    list-style-type: none;
}

.list-ticket li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.list-ticket .sold-out {
    padding: 3px 8px;
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
}

.list-ticket .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    margin-right: 8px;
}

.places-section {
    margin: 32px -8px 32px;
}

.place-item {
    float: left;
    width: 33.33333%;
    padding: 8px;

}

.place-img {
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}


.place-infor {
    background-color: #fff;
    font-size: 15px;
    padding: 15px;
}

.place-heading {
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.ticket-buy-button {
    margin-top: 15px;
    margin-top: 15px;
    display: block;
    width: 108px;
    height: 38px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
}

.ticket-buy-button:hover {
    color: #000;
    background-color: #ccc;
}


/* Contact Css */




#footer {

}
