/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

#main {

}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header .search-btn {
    float: right;
    
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .header-search-icon {
    color: #fff;
    line-height: 46.5px;
    padding: 0 23px;
}

#nav {
    display: inline-block;
}

#nav > li  {
    display: inline-block;
    position: relative;
}

#nav > li:hover .subnav  {
    display: block;
}

#nav > li > a {
    line-height: 46.5px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0 24px;
    text-transform: uppercase;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
}

#nav .subnav li {
    line-height: 38.5px;
    list-style-type: none;
}

#nav .subnav > li > a {
    min-width: 160px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 0 16px;
   
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#slider {
    margin-top: 46.5px;
}

#content {

}

#footer {

}
